body {
  margin-top: 231px;
  margin-left: 640px;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 640px;
  height: 618px;
  box-sizing: border-box;
  gap: 40px;
}

.logo {
  display: flex;
  align-items: center;
}

#face {
  width: 103.53px;
  height: 103.88px;
  top:12.98px;
}

.logo span {
  width: 266px;
  height: 90px;
  top: 23.98px;
  margin-left: 30px;
  font-weight: 700;
  font-size: 66.34px;
  line-height: 89.56px;
  color: #3692FF;
  font-family: 'ROKAF Sans';
}

@font-face {
  font-family: 'ROKAF Sans';
  src: url(ROKAF\ Sans\ Bold.ttf);
  font-weight: 700;
}


@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
}

.main {
  display: flex;
  flex-direction: column;
  width: 640px;
  height: 300px;
  gap: 24px;
  align-items: center;
}

/*이메일 입력*/

.email {
  display: flex;
  flex-direction: column;
  width: 640px;
  height: 98px;
  gap: 16px;
}

.email-p {
  font-family:'Pretendard';
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #1F2937;
  margin: 0;
  align-self: flex-start;
}

.email-in {
  display: flex;
  align-items: center;
  background-color: #F3F4F6;
  border-radius: 12px;
  padding: 16px 24px;
  width: 640px;
  height: 56px;
  box-sizing: border-box;
}

.email-in input[type="email"] {
  border: none;
  outline: none;
  background: none;
  flex: 1;
  font-size: 16px;
}

.email-in input::placeholder {
  color: #9CA3AF;
}

.email-in:focus-within {
  border: 1px solid #3692FF;
}



/* 비밀번호 입력*/

.password {
  display: flex;
  flex-direction: column;
  width: 640px;
  height: 98px;
  gap: 16px;
}

.password-p {
  font-family: 'Pretendard';
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #1F2937;
  margin: 0;
  align-self: flex-start;
}


.password-in {
  display: flex;
  align-items: center;
  background-color: #F3F4F6;
  border-radius: 12px;
  padding: 16px 24px;
  width: 640px;
  height: 56px;
  box-sizing: border-box;
}

.password-in input[type="password"] {
  border: none;
  outline: none;
  background: none;
  flex: 1;
  font-size: 16px;
}

.password-in input::placeholder {
  color: #9CA3AF;
}

.password-in:focus-within {
  border: 1px solid #3692FF;
}

/*로그인 버튼*/
#login {
  width: 640px;
  height: 56px;
  border-radius: 40px;
  padding: 16px 124px;
  background-color: #9CA3AF;
  border: none;
  color: #F3F4F6;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  align-content: center;
  }

  #login.active {
    background-color: #3692FF;
  }

  /* 간편 로그인하기*/
  .conv {
    width: 640px;
    height: 74px;
    border-radius: 8px;
    padding: 16px 23px;
    box-sizing: border-box;
    background-color: #E6F2FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .conv-p {
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #1F2937;
  }

  .sns-logo {
    display: flex;
    gap: 16px;
    width: 100px;
    height: 42px;
  }

  /*회원가입*/
  .signup {
    width: 197px;
    height: 24px;
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #1F2937;
    white-space: nowrap; 
  }

  .signup a {
    line-height: 16.71px;
    color: #3692FF;
  }