
.logo {
  justify-content: space-between;
  padding: 9px 200px;
  width: 1920px;
  height: 70px;
  gap:10px;
  background-color: #FFFFFF;
  border-color: #DFDFDF;
  border-bottom: 1px;
  position: sticky;
  display:flex;
  flex-flow:row nowrap;
  z-index: 1;
  top:0;
  box-sizing: border-box;
}



#로고 {
  width: 153px;
  height: 51px;
}

#로그인 {
  width: 128px;
  height: 48px;
  border-radius: 8px;
  padding: 12px 23px;
  gap: 10px;
  background-color: #3692FF;
  color: #F3F4F6;
  font-weight: 600;
  font-size: 16;
  line-height: 26px;
  cursor: pointer;
  border:none;
}

@media (max-width: 1920px) {
  .logo {
    padding: 9px 200px;
  }
}
/* 네비게이션 바 끝*/


/* 일상의 모든 물건을 거래해보세요*/

.life {
  position: relative;
  width: 1920px;
  height: 540px;
  background-color: #CFE5FF;
}

.container {
  display: flex;
  position: relative;
  gap: 7px;
  top: 200px;
  left: 405px;
  gap: 7px;
}

.image {
  width: 746px;
  height: 340px;
}

.text {
  display: block;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  width: 357px;
  height: 260px; 
  padding-bottom: 60px;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  color: #374151;
  box-sizing: border-box;
}

#구경 {
  color: #F9FAFB;
  background-color: #3692FF;
  border: none;
  border-radius: 40px;
  padding: 16px 124px;
  left: 405px;
  gap: 10px;
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
}

/*인기 상품을 확인해 보세요*/

.popular{
  max-width:1920px;
  max-height: 720px; 
  gap: 10px;
}

#인기 {
  width: 988px;
  height: 444px;
  gap: 64px;
  padding: 138px 344px;
}

.buy {
  max-width:1920px;
  max-height: 720px; 
  gap: 10px;
}

/*구매를 원하는 상품을 검색하세요*/

#구매 {
  width: 988px;
  height:444px;
  gap: 64px;
  padding: 138px 342px;
}

.sell {
  max-width:1920px;
  max-height: 720px; 
  gap: 10px;
}

/*판매를 원하는 상품을 등록하세요*/

#판매 {
  width: 988px;
  height:444px;
  gap: 64px;
  padding: 138px 360px;
}

/*믿을 수 있는 판다마켓 중고 거래*/

.trust {
  width:1920px;
  height: 540px;
  top: 2908px; 
}

/*맨 아래*/

footer {
  background-color: #111827;
  color:#E5E7EB;
  width: 1920px;
  height: 160px;
  top:3448px;
  gap: 10px;
  padding: 32px 200px;
  box-sizing: border-box;
}

.foot {
  width: 1520px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
  color: #E5E7EB;
  gap: 30px;
  justify-content: center;
}

.content a {
  color: #E5E7EB;
  text-decoration: none;
}

.foot span {
  color: #9CA3AF;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.09px;
  text-align: center;
}